@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background: #090E11;
    color: #ECEDED;
}

.container {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.page-title {
    padding: 100px 0 20px;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
}

.payment-split {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.payment-split-left {
    flex-grow: 1;
    flex-shrink: 0;
}

.payment-split-right {
    width: 350px;
    flex-shrink: 0;
    padding: 0 0 0 50px;
}

.payment-details-item {
    display: flex;
    padding: 15px;
    border-radius: 10px;
    background: #15191C;
}

.payment-details-item-image {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.payment-details-item-image img {
    object-fit: cover;
    align-self: center;
    min-height: 100%;
    min-width: 100%;
}

.payment-details-item-data {
    flex-grow: 1;
    flex-shrink: 0;
    max-width: calc(100% - 50px);
    padding-left: 15px;
}

.payment-details-item-title {
    font-size: 14px;
    width: 100%;
}

.payment-details-item-description {
    color: #66696B;
    font-size: 12px;
    width: 100%;
}

.payment-details-split {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}

.currency {
    color: #66696B;
}

.displaysum {
    font-size: 18px;
}

.payment-title {
    font-size: 16px;
    margin-bottom: 5px;
}

.payment-description {
    font-size: 14px;
    color: #66696B;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.alert {
    border-radius: 5px;
    padding: 15px;
}

.alert-success {
    font-size: 14px;
    background: #499C3F;
}

.alert-warning {
    font-size: 14px;
    background: #FD151B;
}

.redirect-info {
    color: #66696B;
    font-size: 14px;
    text-align: center;
    padding: 15px;
}

.icon {
    color: #66696B;
    display: inline-block;
    margin-right: 5px;
}

@media only screen and (max-width: 768px) {
    .payment-split {
        display: flex;
        flex-direction: column-reverse;
    }

    .payment-split-right,
    .payment-split-left {
        width: 100%;
    }

    .payment-split-right {
        padding: 20px 0;
    }
}